{% load static %}
<!DOCTYPE html>

<html lang="fa" dir = "rtl">
<head>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ seo_title }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/logo.jpg' %}" type="image/x-icon">


    <script src="https://kit.fontawesome.com/1228ed801f.js" crossorigin="anonymous"></script>

    <style>

    </style>




</head>
<body>
{% block content %}

{% endblock %}

</body>


</html>
