{% load static %}
<!DOCTYPE html>

<html lang="fa" dir = "rtl">
<head>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ seo_title }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/logo.jpg' %}" type="image/x-icon">


    <script src="https://kit.fontawesome.com/1228ed801f.js" crossorigin="anonymous"></script>

    <style>

    </style>




</head>
<body>


<div class="d-flex">

    <main class="flex-grow-1 p-4" id="main-content">
    </main>
</div>


<div class="d-flex">
    <!-- سایدبار -->
    <aside class="sidebar bg-dark text-white p-3" style="min-width: 220px; height: 100vh;">
        <h4 class="text-white mb-4">PowerGrow</h4>
            {% block content %}{% endblock %}


    </aside>

    <!-- بدنه داشبورد -->
    <main class="p-4 w-100">
        <h2 class="fw-bold mb-4">داشبورد مدیریت</h2>
        <!-- کارت‌ها، جدول‌ها و نمودارهای اصلی -->
    </main>
</div>

</body>


</html>
