{% extends 'manager/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    {% block title %}مدیریت دوره ها{% endblock %}

</head>

<body>

{% block  header %}
    <a href="{% url 'calendar:create_day' %}" class="btn btn-cta">افزودن تاریخ</a>
{% endblock %}

{% block content %}
   <div class="search-bar-container">
    <input type="text" id="searchInput" class="search-input" placeholder="جستجو...">
   </div>


<div class="pagination-container">

    {% if page_obj.has_next %}
        <a class="btn btn-outline-light mx-1" href="?page={{page_obj.next_page_number}}"><i class="fa fa-chevron-left"></i></a>
    {% endif %}

    <span class="btn btn-outline-light disabled mx-1">صفحه {{ page_obj.number }}</span>

   {% if page_obj.has_previous %}
        <a class="btn btn-outline-light mx-1" href="?page={{page_obj.previous_page_number}}"><i class="fa fa-chevron-right"></i></a>
    {% endif %}

</div>



<div class="table-responsive" dir="rtl">
    <table id="myTable" class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th colspan="2" class="text-center">تنظیمات</th>
                <th>روز</th>
                <th>هفته</th>
                <th>ماه</th>
                <th>سال</th>
                <th>توضیحات</th>
                <th>تعطیلات</th>
            </tr>
        </thead>
        <tbody>
            {% for x in page_obj.object_list %}
            <tr>
                <th scope="row">{{ x.id }}</th>
                <td class="text-center">
                    <i class="fa fa-pencil text-warning" aria-hidden="true" style="cursor: pointer" title="ویرایش" onclick="window.open('{% url 'calendar:description' x.id %}')"></i>
                </td>
                 <td class="text-center">
                    <i class="fa fa-times text-danger" aria-hidden="true" style="cursor: pointer" title="حذف" onclick="window.open('{% url 'calendar:day_delete' x.id %}')"></i>
                </td>
                <td>{{ x.number }}</td>
                <td>{{ x.name }}</td>
                <td>{{ x.month.name }}</td>
                <td>{{ x.month.year.number }}</td>
                <td>{{ x.description}}</td>
                 <td class="text-center">
                    {% if x.holiday %}
                        <i title="تعطیل" class="fa fa-check-circle text-success"></i>
                    {% else %}
                        <i title="غیر تعطیل" class="fa fa-ban text-danger"></i>
                    {% endif %}
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>

document.getElementById('searchInput').addEventListener('keyup', function() {
    var input, filter, table, tr, td, i, j, txtValue;
    input = document.getElementById('searchInput');
    filter = input.value.toUpperCase().trim().split(" "); // ورودی را به کلمات جداگانه تقسیم می‌کند
    table = document.getElementById('myTable');
    tr = table.getElementsByTagName('tr');

    for (i = 1; i < tr.length; i++) {
        tr[i].style.display = "none"; // همه ردیف‌ها ابتدا مخفی می‌شوند
        td = tr[i].getElementsByTagName('td');
        var rowMatches = true; // فرض می‌کنیم که ردیف با شرایط جستجو مطابقت دارد

        for (j = 0; j < filter.length; j++) { // برای هر کلمه جستجو
            var wordMatched = false; // فرض می‌کنیم که هیچ کلمه‌ای مطابقت ندارد

            for (let k = 0; k < td.length; k++) { // هر سلول را بررسی می‌کنیم
                if (td[k]) {
                    txtValue = td[k].textContent || td[k].innerText;
                    if (txtValue.toUpperCase().indexOf(filter[j]) > -1) {
                        wordMatched = true; // اگر کلمه پیدا شد
                        break;
                    }
                }
            }

            if (!wordMatched) {
                rowMatches = false; // اگر هیچ کلمه‌ای در ردیف مطابقت نداشت
                break;
            }
        }

        if (rowMatches) {
            tr[i].style.display = ""; // اگر ردیف با تمام کلمات مطابقت داشت، نمایش داده شود
        }
    }
});

</script>
{% endblock %}

</body>

</html>
