{% extends 'manager/base.html' %}
{% load static %}
{% block title %}سالن | PowerGrow{% endblock %}

{% block  header %}
    <a href="{% url 'reservation:create_gym' %}" class="btn btn-cta" target="_blank" rel="noopener noreferrer">افزودن سالن</a>
{% endblock %}

{% block content %}

    <div class="search-bar-container">
        <input type="text" id="searchInput" class="search-input" placeholder="جستجو...">
    </div>


    <div class="d-flex justify-content-center my-3">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-cta mx-1"><i
                    class="fa fa-chevron-right"></i></a>
        {% endif %}
        <span class="btn btn-secondary mx-1 disabled">صفحه {{ page_obj.number }}</span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-cta mx-1"><i
                    class="fa fa-chevron-left"></i></a>
        {% endif %}
    </div>

    <div class="table-responsive">
        <table id="listTable" class="table table-striped table-bordered align-middle text-center">
            <thead class="table-light">
            <tr>
                <th>#</th>
                <th>تنظیمات</th>
                <th>نام سالن</th>
                <th>قرارداد</th>
            </tr>
            </thead>
            <tbody>
            {% for x in gym %}
                <tr>
                <th scope="row">{{ x.id }}</th>
                <td>
                    <a href="{% url 'reservation:reservation' %}" class="text-info mx-1" target="_blank"
                       rel="noopener noreferrer"><i
                            class="fa fa-eye"></i></a>
                    <a href="{% url 'reservation:update_gym' x.id %}" class="text-warning mx-1" target="_blank"
                       rel="noopener noreferrer"><i
                            class="fa fa-pencil"></i></a>
                    <a href="{% url 'reservation:delete_gym' x.id %}" class="text-danger mx-1" target="_blank"
                       rel="noopener noreferrer"><i
                            class="fa fa-trash"></i></a>
                </td>
                <td>{{ x.title }}</td>
                <td>
                    <a href="javascript:window.open('/media/{{ x.contract }}')">
                        مشاهده قرارداد
                    </a>
                </td>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script>

        document.getElementById('searchInput').addEventListener('keyup', function () {
            var input, filter, table, tr, td, i, j, txtValue;
            input = document.getElementById('searchInput');
            filter = input.value.toUpperCase().trim().split(" "); // ورودی را به کلمات جداگانه تقسیم می‌کند
            table = document.getElementById('myTable');
            tr = table.getElementsByTagName('tr');

            for (i = 1; i < tr.length; i++) {
                tr[i].style.display = "none"; // همه ردیف‌ها ابتدا مخفی می‌شوند
                td = tr[i].getElementsByTagName('td');
                var rowMatches = true; // فرض می‌کنیم که ردیف با شرایط جستجو مطابقت دارد

                for (j = 0; j < filter.length; j++) { // برای هر کلمه جستجو
                    var wordMatched = false; // فرض می‌کنیم که هیچ کلمه‌ای مطابقت ندارد

                    for (let k = 0; k < td.length; k++) { // هر سلول را بررسی می‌کنیم
                        if (td[k]) {
                            txtValue = td[k].textContent || td[k].innerText;
                            if (txtValue.toUpperCase().indexOf(filter[j]) > -1) {
                                wordMatched = true; // اگر کلمه پیدا شد
                                break;
                            }
                        }
                    }

                    if (!wordMatched) {
                        rowMatches = false; // اگر هیچ کلمه‌ای در ردیف مطابقت نداشت
                        break;
                    }
                }

                if (rowMatches) {
                    tr[i].style.display = ""; // اگر ردیف با تمام کلمات مطابقت داشت، نمایش داده شود
                }
            }
        });

    </script>

{% endblock %}