{% extends 'teacher/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    {% block title %}اطلاعیه ها{% endblock %}

</head>

<body>

{% block content %}
   <div class="search-bar-container">
    <input type="text" id="searchInput" class="search-input" placeholder="جستجو...">
   </div>


<div class="table-responsive" dir="rtl">
    <table id="myTable" class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th scope="col">تاریخ</th>
                <th scope="col">نام</th>
                <th scope="col">توضیحات</th>
                <th scope="col">نام دوره</th>
                <th scope="col">زمان دوره</th>
                <th scope="col">نام مربی</th>
            </tr>
        </thead>
        <tbody>
            {% for x in news %}
            <tr>
                <th scope="row">{{ x.id }}</th>
                <td>{{ x.date.month.year.number }}/{{ x.date.month.number }}/{{ x.date.number }}</td>
                <td>{{ x.title }}</td>
                <td>{{ x.description }}</td>
                <td>{{ x.course.title }}</td>
                <td>{{ x.course.time }}</td>
                <td>{{ x.course.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>

document.getElementById('searchInput').addEventListener('keyup', function() {
    var input, filter, table, tr, td, i, j, txtValue;
    input = document.getElementById('searchInput');
    filter = input.value.toUpperCase().trim().split(" "); // ورودی را به کلمات جداگانه تقسیم می‌کند
    table = document.getElementById('myTable');
    tr = table.getElementsByTagName('tr');

    for (i = 1; i < tr.length; i++) {
        tr[i].style.display = "none"; // همه ردیف‌ها ابتدا مخفی می‌شوند
        td = tr[i].getElementsByTagName('td');
        var rowMatches = true; // فرض می‌کنیم که ردیف با شرایط جستجو مطابقت دارد

        for (j = 0; j < filter.length; j++) { // برای هر کلمه جستجو
            var wordMatched = false; // فرض می‌کنیم که هیچ کلمه‌ای مطابقت ندارد

            for (let k = 0; k < td.length; k++) { // هر سلول را بررسی می‌کنیم
                if (td[k]) {
                    txtValue = td[k].textContent || td[k].innerText;
                    if (txtValue.toUpperCase().indexOf(filter[j]) > -1) {
                        wordMatched = true; // اگر کلمه پیدا شد
                        break;
                    }
                }
            }

            if (!wordMatched) {
                rowMatches = false; // اگر هیچ کلمه‌ای در ردیف مطابقت نداشت
                break;
            }
        }

        if (rowMatches) {
            tr[i].style.display = ""; // اگر ردیف با تمام کلمات مطابقت داشت، نمایش داده شود
        }
    }
});

</script>

{% endblock %}

</body>

</html>
