{% extends 'public/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>

    {% block title %}دوره‌های {{ sport.title }}{% endblock %}

</head>
<body>


{% block header %}
    <!-- آیتم‌های منو -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home:home-view' %}">خانه</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'product:sport-view' %}">دوره ها</a>
            </li>

            <li class="nav-item">
                <a class="nav-link disabled" href="{% url 'reservation:reservation-view' %}">رزرو سالن</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about:about-view' %}">درباره ما</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'user:login' %}">ورود و عضویت</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <section class="py-5">
        <div class="container">
            <h2 class="fw-bold mb-4 text-center">دوره های {{ sport.title }}</h2>
            <div class="row g-4">
                {% for course in courses %}
                    <div class="col-md-6 col-lg-4">
                        <div class="card shadow rounded overflow-hidden">
                            {% if course.image %}
                                <img src="{{ course.image.url }}" class="card-img-top" alt="{{ course.title }}">
                            {% else %}
                                <img src="{% static 'images/hero.png' %}" class="card-img-top" alt="تصویر پیش‌فرض">
                            {% endif %}
                            <div class="card-body pb-0">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <p class="mb-1 text-dark">نام دوره</p>
                                        <p class="mb-1 text-dark">نام مربی</p>
                                    </div>
                                    <div>
                                        <p class="mb-1 text-dark text-start">{{ course.title }}</p>
                                        <p class="mb-1 text-dark text-start">{{ course.name }}</p>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-0"/>
                            <div class="card-body pb-0">
                                <div class="d-flex justify-content-between">
                                    <p class="text-dark mb-1">زمان دوره</p>
                                    <p class="text-dark text-start" style="width: 65%">{{ course.time }}</p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <p class="text-dark mb-1">نوع دوره</p>
                                    <p class="text-dark text-start" style="width: 65%">
                                        {% if course.type == "public" %}عمومی
                                        {% elif course.type == "private" %}خصوصی
                                        {% elif course.type == "semi_private" %}نیمه خصوصی
                                        {% endif %}
                                    </p>
                                </div>
                                <p class="text-center text-dark my-2">
                                    مناسب برای {% if course.gender == "male" %}آقایان{% elif course.gender == "female" %}
                                    بانوان{% endif %}
                                </p>
                            </div>
                            <hr class="my-0"/>
                            <div class="card-body">
                                {% if x.previous %}
                                    <div class="d-flex justify-content-between align-items-center">
                                            <span class="pre-register">
                                                پیش ثبت ‌نام
                                            </span>
                                        <button class="btn btn-primary btn-sm"
                                                onclick="location.assign('{% url 'product:product_view' course.id %}')">
                                            ثبت نام
                                        </button>
                                    </div>
                                {% else %}
                                    <div class="d-flex justify-content-end">
                                        <button class="btn btn-primary btn-sm"
                                                onclick="location.assign('{% url 'product:product_view' course.id %}')">
                                            ثبت نام
                                        </button>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
