{% extends 'public/base.html' %}
{% load static %}

{% block title %}{{sport.title}} | PowerGrow{% endblock %}

{% block content %}
    <section class="py-5">
        <div class="container">

            <div class="search-bar-container">
                <input type="text" id="courseSearch" class="search-input" placeholder="جستجو...">
            </div>


            <h2 class="fw-bold mb-4 text-center">دوره های {{ sport.title }}</h2>
            <div class="row g-4">
                {% for course in courses %}
                    <div class="col-md-6 col-lg-4">
                        <div class="card shadow rounded overflow-hidden"
                             data-title="{{ course.title }}"
                             data-name="{{ course.name }}"
                             data-time="{{ course.time }}">
                             {% if course.previous %}
                                <div class="ribbon"><span class="bg-success">پیش ثبت ‌نام</span></div>
                            {% elif course.is_full %}
                                <div class="ribbon"><span class="bg-danger">تکمیل ظرفیت</span></div>
                            {% endif %}
                            {% if course.image %}
                                <img src="{{ course.image.url }}" class="card-img-top" alt="{{ course.title }}">
                            {% else %}
                                <img src="{% static 'images/hero.png' %}" class="card-img-top" alt="تصویر پیش‌فرض">
                            {% endif %}
                            <div class="card-body pb-0">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <p class="mb-1 text-dark">نام دوره</p>
                                        <p class="mb-1 text-dark">نام مربی</p>
                                    </div>
                                    <div>
                                        <p class="mb-1 text-dark text-start">{{ course.title }}</p>
                                        <p class="mb-1 text-dark text-start">{{ course.name }}</p>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-0"/>
                            <div class="card-body pb-0">
                                <div class="d-flex justify-content-between">
                                    <p class="text-dark mb-1">زمان دوره</p>
                                    <p class="text-dark text-start" style="width: 65%">{{ course.time }}</p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <p class="text-dark mb-1">نوع دوره</p>
                                    <p class="text-dark text-start" style="width: 65%">
                                        {% if course.type == "public" %}عمومی
                                        {% elif course.type == "private" %}خصوصی
                                        {% elif course.type == "semi_private" %}نیمه خصوصی
                                        {% endif %}
                                    </p>
                                </div>
                                <p class="text-center text-dark my-2">
                                    مناسب برای {% if course.gender == "male" %}
                                    آقایان{% elif course.gender == "female" %}
                                    بانوان{% endif %}
                                </p>
                            </div>
                            <hr class="my-0"/>
                            <div class="card-body">
                                    <div class="d-flex justify-content-end">
                                        <button class="btn btn-cta btn-sm"
                                                onclick="location.assign('{% url 'product:product_view' course.id %}')">
                                            ثبت نام
                                        </button>
                                    </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>


    <script>
        document.getElementById('courseSearch').addEventListener('input', function () {
            const query = this.value.toLowerCase().trim();
            const cards = document.querySelectorAll('.card[data-title]');

            cards.forEach(card => {
                const title = card.getAttribute('data-title').toLowerCase();
                const name = card.getAttribute('data-name').toLowerCase();
                const time = card.getAttribute('data-time').toLowerCase();

                const match = title.includes(query) || name.includes(query) || time.includes(query);

                card.parentElement.style.display = match ? 'block' : 'none'; // col-...
            });
        });
    </script>


{% endblock %}
</body>