{% extends 'public/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    {% block title %}ورود به باشکاه ورزشی حجاب{% endblock %}
</head>

<body>

{% block header %}
    <!-- آیتم‌های منو -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home:home-view' %}">خانه</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'product:sport-view' %}">دوره ها</a>
            </li>

            <li class="nav-item">
                <a class="nav-link disabled" href="{% url 'reservation:reservation-view' %}">رزرو سالن</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about:about-view' %}">درباره ما</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'user:login' %}">ورود و عضویت</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block  content %}

    <section class="swiper-section py-5">
        <div class="container">
            <div class="form-wrapper bg-white shadow rounded p-4 w-100">
                <h3 class="mb-4 text-center fw-bold">ورود به حساب</h3>
                <p>لطفاً نام کاربری و رمز عبور خود را وارد کنید</p>
                {% csrf_token %}
                <form>
                    <div class="form-outline form-white mb-4">
                        <input type="tel" id="number" class="form-control form-control-lg" placeholder="9123456780"
                               required/>
                        <label class="form-label" for="number">موبایل</label>
                    </div>

                    <div class="form-outline form-white mb-4 position-relative">
                        <input type="password" id="password" class="form-control form-control-lg" placeholder="رمز عبور"
                               required/>
                        <label class="form-label" for="password">رمز عبور</label>
                        <span id="togglePassword" class="position-absolute"
                              style="right: 15px ; top: 40%; transform: translateY(-40%); cursor: pointer;">
                                <i class="fa fa-eye" aria-hidden="true" style="color: black"></i>
                            </span>
                    </div>

                    <p class="small mb-4">
                        <a class="text-white-50" href="{% url 'user:forget' %}">فراموشی رمز عبور؟</a>
                    </p>
                    <button id="submit" class="btn btn-outline-light btn-lg px-5" type="submit">ورود</button>
                </form>

                <p class="mt-4">اکانت ندارید؟ <a href="{% url 'user:register' %}">ثبت‌نام کنید</a></p>
            </div>

        </div>
    </section>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const submit = document.getElementById('submit');
            const togglePassword = document.getElementById("togglePassword");

            togglePassword.addEventListener("click", () => {
                const passwordField = document.getElementById("password");
                const type = passwordField.getAttribute("type") === "password" ? "text" : "password";
                passwordField.setAttribute("type", type);
                togglePassword.classList.toggle("fa-eye-slash");
            });

            submit.addEventListener("click", async (e) => {
                e.preventDefault();
                const username = '+98' + document.getElementById("number").value;
                const password = document.getElementById("password").value;

                const response = await fetch("{% url 'user:login_api' %}", {
                    method: "POST",
                    headers: {'Content-Type': "application/json"},
                    body: JSON.stringify({username, password})
                });

                if (response.ok) {
                    const userData = await response.json();
                    if (userData.user.is_staff)
                        location.assign(`/user/home/manager/${userData.user.id}/`);
                    else if (userData.user.is_superuser)
                        location.assign(`/user/home/admin/${userData.user.id}/`);
                    else if (userData.user.is_teacher)
                        location.assign(`/user/home/teacher/${userData.user.id}/`);
                    else
                        location.assign(`/user/home/user/${userData.user.id}/`);
                } else {
                    const error = await response.json();
                    alert(error.error || "ورود ناموفق. لطفاً دوباره تلاش کنید.");
                }
            });
        });
    </script>

{% endblock %}

</body>
</html>
