{% load static %}
<!doctype html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="{{ csrf_token }}">

    <title>تاییدیه ثبت نام باشگاه ورزشی حجاب</title>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}


    <style>

        @font-face {
            font-family: BYekan;
            font-style: normal;
            font-weight: normal;
            src: url("/static/fonts/BYekan.eot");/* IE9 Compat Modes */
            src: url("/static/fonts/BYekan.woff") format('woff'),
            url("/static/fonts/BYekan.woff") format('woff2'), /* Super Modern Browsers */ url("/static/fonts/BYekan.ttf") format('truetype') /* Safari, Android, iOS */
        }

        .bg-light {
            background-color: #fdfdfd !important;
        }

        .shadow {
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08) !important;
        }

        .btn-success {
            background-color: #E16539;
            border-color: #E16539;
            font-size: 18px;
            border-radius: 0.5rem;
            transition: all 0.3s ease;
        }

        .btn-success:hover {
            background-color: #c74e2d;
            border-color: #c74e2d;
        }


    </style>

</head>

<body>


<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5">
        <div class="bg-white shadow rounded p-4">
            <h3 class="fw-bold mb-4 text-center">تأیید ثبت ‌نام دوره</h3>

            <div class="row mb-4">
                <div class="col-md-6 mb-3">
                    <strong>نام دوره:</strong> {{ product.title }}
                </div>
                <div class="col-md-6 mb-3">
                    <strong>نام مربی:</strong> {{ product.name }}
                </div>
                <div class="col-md-6 mb-3">
                    <strong>تاریخ شروع:</strong> {{ start }}
                </div>
                <div class="col-md-6 mb-3">
                    <strong>روزهای برگزاری:</strong> {{ day.title }}
                </div>
                <div class="col-md-6 mb-3">
                    <strong>تعداد جلسات:</strong> {{ session }} جلسه
                </div>
                <div class="col-md-6 mb-3">
                    <strong>ساعت:</strong> {{ product.time }}
                </div>
                <div class="col-md-6 mb-3">
                    <strong>قیمت:</strong> {{ day.tuition }} تومان
                </div>
                <div class="col-md-6 mb-3">
                    <strong>تخفیف:</strong> {{ day.off }} %
                </div>
                <div class="col-md-12 mb-4">
                    <hr>
                    <h5 class="text-end">💰 مبلغ نهایی: <span id="final" class="text-success fw-bold"></span>
                    </h5>
                </div>
            </div>

            <div class="mt-4">
                <div class="border p-3 mb-3"
                     style="max-height: 200px; overflow-y: auto; text-align: right; font-size: 14px;">
                    <p>• ثبت نام و پرداخت هزینه در مجموعه ورزشی حجاب به معنای قبول کردن تمامی قوانین و مقررات این مجموعه
                        است.</p>
                    <p>• از پذیرش والدین داخل کلاس ها معذوریم.</p>
                    <p>• بعد از ثبت نام ورزشکار باید در تمامی جلسات حضور داشته باشد. در صورت عدم حضور، آن جلسه سوخت
                        می‌شود (مگر اینکه گواهی پزشک داشته باشد که بلافاصله بعد از بیماری به دفتر ارائه دهد تا سوخت
                        نشود. این مورد فقط یکبار در هر دوره‌ی ثبت نامی امکان پذیر است).</p>
                    <p>• بیمه ورزشی برای افراد الزامی است و مجموعه هیچ‌گونه مسئولیتی در این خصوص بر عهده ندارد.</p>
                    <p>• در بیمه ورزشی اسم مجموعه حجاب شمال غرب انتخاب شود.</p>
                    <p>• موقع ثبت نام در انتخاب تعداد جلسات دقت فرمایید. قابل تغییر نیست: ۸ جلسه‌ای (دو روز در هفته) و
                        ۱۲ جلسه‌ای (۳ روز در هفته).</p>
                    <p>• در ۸ جلسه‌ای حتما باید مشخص فرمایید که کدام دو روز هفته از آن کلاس را تشریف می‌آورید.</p>
                    <p>• کنسل کردن بعد از گذشت ۲ جلسه از کلاس امکان‌پذیر نیست و هزینه عودت داده نمی‌شود.</p>
                    <p>• کنسل کردن و عودت وجه طبق شرایطی که مجموعه اعلام می‌کند با کسر تک جلسه‌ای و کسر مالیات تا چند
                        ساعت قبل از شروع جلسه سوم محاسبه می‌گردد و امکان‌پذیر است.</p>
                    <p>• پرداخت عودت وجه فقط با پر کردن فرم آن امکان‌پذیر است و مبلغ طی ۷ تا ۱۰ روز کاری واریز خواهد
                        شد.</p>
                </div>

                <div class="form-check text-start mb-4">
                    <input class="form-check-input" type="checkbox" id="acceptRules"
                           style="position: relative; left: 0;">
                    <label class="form-check-label" for="acceptRules">
                        قوانین فوق را خوانده‌ام و قبول دارم
                    </label>
                </div>
            </div>


            <div class="text-center">
                <button id="registerButton" type="submit" class="btn btn-success px-5 py-2 fw-bold">
                    ثبت نهایی و پرداخت
                </button>
            </div>
        </div>

    </div>
    </div>
</section>


<script>
    let off = "{{ day.off }}";
    let price = "{{ day.tuition }}";
    let day = "{{ day.id }}";
    let session = "{{ session.id }}";
    let course = "{{ product.id }}";
    let start = "{{ start.id }}";
    let final = document.getElementById("final");
    const registerButton = document.getElementById("registerButton");
    const acceptRules = document.getElementById("acceptRules");


    let final_price = (parseInt(price) - (parseInt(off) / 100 * parseInt(price)));
    final.innerHTML = final_price + " تومان";

    if (registerButton) {
        registerButton.addEventListener("click", function () {
            register();
        });
    } else {
        console.error("Register button not found.");
    }

    async function register() {

        if (!acceptRules.checked) {
            alert("لطفا قوانین را خوانده و تایید کنید.");
            return;
        }
        // چک کردن وجود عنصر final
        if (!final) {
            console.error("Final element not found.");
            return; // خروج از تابع اگر عنصر وجود نداشته باشد
        }

        const param = {
            "day": parseInt(day),
            "session": parseInt(session),
            "course": parseInt(course),
            "price": final_price,
            "startDay": parseInt(start),
            "description": "شرکت در دوره های باشگاه ورزشی حجاب",
        };

        const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

        try {
            const response = await fetch("{% url 'product:create-participation' %}", {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken,
                },
                body: JSON.stringify(param),
            });

            const result = await response.json();
            if (response.ok) {
                window.location.replace(result.payment + result.authority);
            } else {
                alert(`Error: ${response.status} - ${result.message || response.statusText}`);
            }
        } catch (error) {
            console.error('Error during registration:', error);
            alert('There was an error while processing your request.');
        }
    }
</script>

</body>
</html>