{% extends 'public/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    {% block title %}ثبت نام در باشکاه ورزشی حجاب{% endblock %}
</head>

<body>

{% block header %}
    <!-- آیتم‌های منو -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home:home-view' %}">خانه</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'product:sport-view' %}">دوره ها</a>
            </li>

            <li class="nav-item">
                <a class="nav-link disabled" href="{% url 'reservation:reservation-view' %}">رزرو سالن</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about:about-view' %}">درباره ما</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'user:login' %}">ورود و عضویت</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block  content %}

<section class="swiper-section py-5">
    <div class="container">
        <div class="form-wrapper bg-white shadow rounded p-4 w-100">
            <h3 class="mb-4 text-center fw-bold">ثبت‌نام</h3>
            <p>برای ایجاد حساب، لطفاً اطلاعات زیر را وارد کنید</p>

            {% csrf_token %}
            <form method="post">
                <div class="form-outline form-white mb-4">
                    <input type="tel" id="number" name="number" class="form-control form-control-lg"
                           placeholder="9123456780" required />
                    <label class="form-label" for="number">موبایل</label>
                </div>

                <div class="form-outline form-white mb-4 position-relative" dir="ltr">
                    <input type="password" id="password" name="password"
                           class="form-control form-control-lg px-2" placeholder="رمز عبور" required />
                    <i class="fas fa-eye toggle-password" onclick="togglePassword('password', this)"></i>
                    <label for="password">رمز عبور</label>
                </div>

                <div class="form-outline form-white mb-4 position-relative" dir="ltr">
                    <input type="password" id="confirm_password" name="confirm_password"
                           class="form-control form-control-lg px-2" placeholder="تکرار رمز عبور" required />
                    <i class="fas fa-eye toggle-password" onclick="togglePassword('confirm_password', this)"></i>
                    <label for="confirm_password">تکرار رمز عبور</label>
                </div>

                <button id="submit" class="btn btn-outline-light btn-lg px-5" type="submit">ثبت‌نام</button>
            </form>

            <p class="mt-4">قبلاً ثبت‌نام کرده‌اید؟ <a href="{% url 'user:login' %}">وارد شوید</a></p>
        </div>
    </div>
</section>


    <script>

        jalaliDatepicker.startWatch({
            time: false,
        });


        document.addEventListener('DOMContentLoaded', () => {
            const submit = document.getElementById('submit');

            if (submit) { // چک کردن وجود دکمه
                submit.addEventListener('click', async (event) => {
                    event.preventDefault(); // جلوگیری از ارسال پیش‌فرض فرم

                    const name = document.getElementById('name').value.trim();
                    const username = document.getElementById('phone').value.trim();
                    const birthdate = document.getElementById('birthdate').value;
                    const pass1 = document.getElementById('password1').value;
                    const pass2 = document.getElementById('password2').value;

                    // بررسی تطابق پسوردها
                    if (pass1 !== pass2) {
                        alert("پسوردها یکسان نیستند");
                        return;
                    }

                    const param = {
                        "number": `+98${username}`,
                        "password": pass1,
                        "name": name,
                        "birthdate": birthdate,
                    };

                    const response = await fetch('{% url 'user:create-user' %}', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(param)
                    });

                    if (response.ok) { // اگر وضعیت پاسخ موفقیت‌آمیز بود
                        window.location.assign(`{% url 'user:login' %}`);
                    } else {
                        const errorData = await response.json();
                        alert(errorData.message || "خطا در ثبت ‌نام. لطفاً دوباره تلاش کنید.");
                    }
                });
            } else {
                console.error("Submit button not found");
            }
        });
    </script>
{% endblock %}

</body>
</html>

