{% extends 'public/base.html' %}
{% load static %}

{% block title %}دوره ها | PowerGrow{% endblock %}


{% block content %}

    <section class="swiper-section py-5">
        <div class="container-fluid px-lg-5">

            {% for item in sport_data %}
                <div class="mb-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h3 class="section-title">{{ item.sport.title }}</h3>
                        <a href="{% url 'product:category-view' item.sport.id %}"
                           class="more-link my-2 float-start">
                            <span>مشاهده همه</span>
                            <i class="fa-solid next-icon fa-arrow-left"></i>
                        </a>
                    </div>

                    <div class="swiper mySwiper-{{ forloop.counter }}">
                        <div class="swiper-wrapper">
                            {% for course in item.courses %}
                                <div class="swiper-slide">
                                    {% if course.previous %}
                                        <div class="ribbon"><span class="bg-success">پیش ثبت ‌نام</span></div>
                                    {% elif course.is_full %}
                                        <div class="ribbon"><span class="bg-danger">تکمیل ظرفیت</span></div>
                                    {% endif %}
                                    <div class="card shadow rounded overflow-hidden">
                                        {% if course.image %}
                                            <img src="{{ course.image.url }}" class="card-img-top"
                                                 alt="{{ course.title }}">
                                        {% else %}
                                            <img src="{% static 'images/hero.png' %}" class="card-img-top"
                                                 alt="تصویر پیش‌فرض">
                                        {% endif %}
                                        <div class="card-body pb-0">
                                            <div class="d-flex justify-content-between">
                                                <div>
                                                    <p class="mb-1 text-dark">نام دوره</p>
                                                    <p class="mb-1 text-dark">نام مربی</p>
                                                </div>
                                                <div>
                                                    <p class="mb-1 text-dark text-start">{{ course.title }}</p>
                                                    <p class="mb-1 text-dark text-start">{{ course.name }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="my-0"/>
                                        <div class="card-body pb-0">
                                            <div class="d-flex justify-content-between">
                                                <p class="text-dark mb-1">زمان دوره</p>
                                                <p class="text-dark text-start" style="width: 65%">{{ course.time }}</p>
                                            </div>
                                            <div class="d-flex justify-content-between">
                                                <p class="text-dark mb-1">نوع دوره</p>
                                                <p class="text-dark text-start" style="width: 65%">
                                                    {% if course.type == "public" %}عمومی
                                                    {% elif course.type == "private" %}خصوصی
                                                    {% elif course.type == "semi_private" %}نیمه خصوصی
                                                    {% endif %}
                                                </p>
                                            </div>
                                            <p class="text-center text-dark my-2">
                                                مناسب برای {% if course.gender == "male" %}
                                                آقایان{% elif course.gender == "female" %}
                                                بانوان{% endif %}
                                            </p>
                                        </div>
                                        <hr class="my-0"/>
                                        <div class="card-body">
                                            <div class="d-flex justify-content-end">
                                                <button class="btn btn-cta btn-sm"
                                                        onclick="location.assign('{% url 'product:product_view' course.id %}')">
                                                    ثبت نام
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="swiper-button-next swiper-button-white"></div>
                        <div class="swiper-button-prev swiper-button-white"></div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script>
        const swipers = document.querySelectorAll(".swiper");
        swipers.forEach((el) => {
            new Swiper(el, {
                slidesPerView: 1,
                slidesPerGroup: 1,
                spaceBetween: 12,
                navigation: {
                    nextEl: el.querySelector('.swiper-button-next'),
                    prevEl: el.querySelector('.swiper-button-prev'),
                },
                breakpoints: {
                    576: {slidesPerView: 1, slidesPerGroup: 1}, // موبایل کوچک
                    768: {slidesPerView: 1, slidesPerGroup: 1}, // موبایل/تبلت عمودی
                    992: {slidesPerView: 2, slidesPerGroup: 1}, // تبلت/دسکتاپ کوچک
                    1200: {slidesPerView: 3, slidesPerGroup: 1}, // دسکتاپ
                },
                loop: false,
                freeMode: false,
                resistanceRatio: 0,      // جلوگیری از کشیدنِ اضافی در لبه‌ها
                watchOverflow: true,     // اگر اسلاید کافی نبود، ناوبری غیرفعال
                centeredSlides: false,
                slideToClickedSlide: true,
            });
        });

    </script>

{% endblock %}
